<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, visitez https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/8e454cb8-369f-4d23-b804-d4dc89edfd8d/resourceGroups/cloud-shell-storage-westeurope/providers/Microsoft.ApiManagement/service/ApiDepSalaries/apis/DepSalaries</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/8e454cb8-369f-4d23-b804-d4dc89edfd8d/resourcegroups/cloud-shell-storage-westeurope/providers/Microsoft.Web/sites/DepSalaries20221223184903</ResourceId>
    <ResourceGroup>cloud-shell-storage-westeurope</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://depsalaries20221223184903.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>4d591bba-5125-4673-a519-58f180b1c762</ProjectGuid>
    <PublishUrl>https://depsalaries20221223184903.scm.azurewebsites.net/</PublishUrl>
    <UserName>$DepSalaries20221223184903</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>